---

export interface Props {
	overall: any;
	hatchet: any;
	bigAxe: any;
};

const { overall, hatchet, bigAxe }: Props = Astro.props;

---

<figure>
	<table>
		<thead>
			<tr>
				<th colspan="2">Discipline</th>
				<th>Hit Rate</th>
				<th>Score Per Axe</th>
				<th>Attempts</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td rowspan="3">Hatchet</td>
				<td>Bullseye</td>
				<td>{hatchet.bullseye.percent[5]}%</td>
				<td>{hatchet.bullseye.scorePerAxe}</td>
				<td>{hatchet.bullseye.attempts}</td>
			</tr>

			<tr>
				<td>Clutch (5)</td>
				<td>{hatchet.clutch.percent[5]}%</td>
				<td rowspan="2">{hatchet.clutch.scorePerAxe}</td>
				<td rowspan="2">{hatchet.clutch.attempts}</td>
			</tr>

			<tr>
				<td>Clutch (7)</td>
				<td>{hatchet.clutch.percent[7]}%</td>
			</tr>
		</tbody>

		<tbody>
			<tr>
				<td rowspan="3">Big Axe</td>
				<td>Bullseye</td>
				<td>{bigAxe.bullseye.percent[5]}%</td>
				<td>{bigAxe.bullseye.scorePerAxe}</td>
				<td>{bigAxe.bullseye.attempts}</td>
			</tr>

			<tr>
				<td>Clutch (5)</td>
				<td>{bigAxe.clutch.percent[5]}%</td>
				<td rowspan="2">{bigAxe.clutch.scorePerAxe}</td>
				<td rowspan="2">{bigAxe.clutch.attempts}</td>
			</tr>

			<tr>
				<td>Clutch (7)</td>
				<td>{bigAxe.clutch.percent[7]}%</td>
			</tr>
		</tbody>
	</table>
</figure>