---

export interface Props {
	hatchet: any;
	bigAxe: any;
};

const { hatchet, bigAxe }: Props = Astro.props;

---

<figure>
	<table>
		<thead>
			<tr>
				<th>Tool</th>
				<th>Target</th>
				<th>Score</th>
				<th>Hit Rate</th>
				<th>Score Per Axe</th>
				<th>Attempts</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td rowspan="7">Hatchet</td>
				<td rowspan="4">Bullseye</td>
				<td>5</td>
				<td>{hatchet.bullseye.percent[5]}%</td>
				<td rowspan="4">{hatchet.bullseye.scorePerAxe}</td>
				<td rowspan="4">{hatchet.bullseye.attempts}</td>
			</tr>

			<tr>
				<td>3</td>
				<td>{hatchet.bullseye.percent[3]}%</td>
			</tr>

			<tr>
				<td>1</td>
				<td>{hatchet.bullseye.percent[1]}%</td>
			</tr>

			<tr>
				<td>0</td>
				<td>{hatchet.bullseye.percent[0]}%</td>
			</tr>

			<tr>
				<td rowspan="3">Clutch</td>
				<td>7</td>
				<td>{hatchet.clutch.percent[7]}%</td>
				<td rowspan="3">{hatchet.clutch.scorePerAxe}</td>
				<td rowspan="3">{hatchet.clutch.attempts}</td>
			</tr>

			<tr>
				<td>5</td>
				<td>{hatchet.clutch.percent[5]}%</td>
			</tr>

			<tr>
				<td>0</td>
				<td>{hatchet.clutch.percent[0]}%</td>
			</tr>
		</tbody>

		<tbody>
			<tr>
				<td rowspan="7">Big Axe</td>
				<td rowspan="4">Bullseye</td>
				<td>5</td>
				<td>{bigAxe.bullseye.percent[5]}%</td>
				<td rowspan="4">{bigAxe.bullseye.scorePerAxe}</td>
				<td rowspan="4">{bigAxe.bullseye.attempts}</td>
			</tr>

			<tr>
				<td>3</td>
				<td>{bigAxe.bullseye.percent[3]}%</td>
			</tr>

			<tr>
				<td>1</td>
				<td>{bigAxe.bullseye.percent[1]}%</td>
			</tr>

			<tr>
				<td>0</td>
				<td>{bigAxe.bullseye.percent[0]}%</td>
			</tr>

			<tr>
				<td rowspan="3">Clutch</td>
				<td>7</td>
				<td>{bigAxe.clutch.percent[7]}%</td>
				<td rowspan="3">{bigAxe.clutch.scorePerAxe}</td>
				<td rowspan="3">{bigAxe.clutch.attempts}</td>
			</tr>

			<tr>
				<td>5</td>
				<td>{bigAxe.clutch.percent[5]}%</td>
			</tr>

			<tr>
				<td>0</td>
				<td>{bigAxe.clutch.percent[0]}%</td>
			</tr>
		</tbody>
	</table>
</figure>